<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletVerTicket</servlet-name>
        <servlet-class>controlador.ServletVerTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerSeguimientos</servlet-name>
        <servlet-class>controlador.ServletVerSeguimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SevletAllTicket</servlet-name>
        <servlet-class>controlador.SevletAllTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test4</servlet-name>
        <servlet-class>controlador.test4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletVerSeguimientos</servlet-name>
        <url-pattern>/ServletVerSeguimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerTicket</servlet-name>
        <url-pattern>/ServletVerTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SevletAllTicket</servlet-name>
        <url-pattern>/SevletAllTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test4</servlet-name>
        <url-pattern>/test4</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
