<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FindSeguimientos</servlet-name>
        <servlet-class>controlador.SeguimientoCrud.FindSeguimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTicket</servlet-name>
        <servlet-class>controlador.TicketCrud.SaveTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sesion</servlet-name>
        <servlet-class>controlador.Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTicket</servlet-name>
        <servlet-class>controlador.TicketCrud.ShowTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindTicket</servlet-name>
        <servlet-class>controlador.TicketCrud.FindTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save</servlet-name>
        <servlet-class>controlador.Crud.Save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show</servlet-name>
        <servlet-class>controlador.Crud.Show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>controlador.Crud.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSeguimiento</servlet-name>
        <servlet-class>controlador.SeguimientoCrud.SaveSeguimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTicket</servlet-name>
        <servlet-class>controlador.TicketCrud.EditTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveInterface</servlet-name>
        <servlet-class>controlador.InterfaceCrud.SaveInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindInterface</servlet-name>
        <servlet-class>controlador.InterfaceCrud.FindInterface</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindSeguimientos</servlet-name>
        <url-pattern>/FindSeguimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save</servlet-name>
        <url-pattern>/Save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show</servlet-name>
        <url-pattern>/Show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSeguimiento</servlet-name>
        <url-pattern>/SaveSeguimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTicket</servlet-name>
        <url-pattern>/SaveTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sesion</servlet-name>
        <url-pattern>/Sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTicket</servlet-name>
        <url-pattern>/ShowTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindTicket</servlet-name>
        <url-pattern>/FindTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTicket</servlet-name>
        <url-pattern>/EditTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveInterface</servlet-name>
        <url-pattern>/SaveInterface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindInterface</servlet-name>
        <url-pattern>/FindInterface</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
