<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletVerSeguimientos</servlet-name>
        <servlet-class>controlador.ServletVerSeguimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test4</servlet-name>
        <servlet-class>controlador.test4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarTicket</servlet-name>
        <servlet-class>controlador.ServletGuardarTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sesion</servlet-name>
        <servlet-class>controlador.Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarAnalista</servlet-name>
        <servlet-class>controlador.ServletGuardarAnalista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAnalista</servlet-name>
        <servlet-class>controlador.ServletAnalista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowTicket</servlet-name>
        <servlet-class>controlador.ServletShowTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerTicket</servlet-name>
        <servlet-class>controlador.ServletVerTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerEstado</servlet-name>
        <servlet-class>controlador.ServletVerEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEstado</servlet-name>
        <servlet-class>controlador.ServletEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImpacto</servlet-name>
        <servlet-class>controlador.ServletImpacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModulos</servlet-name>
        <servlet-class>controlador.ServletModulos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletServicios</servlet-name>
        <servlet-class>controlador.ServletServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletServidores</servlet-name>
        <servlet-class>controlador.ServletServidores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAnalista</servlet-name>
        <servlet-class>controlador.ShowAnalista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAnalist</servlet-name>
        <servlet-class>controlador.SaveAnalist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletVerSeguimientos</servlet-name>
        <url-pattern>/ServletVerSeguimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test4</servlet-name>
        <url-pattern>/test4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarTicket</servlet-name>
        <url-pattern>/ServletGuardarTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sesion</servlet-name>
        <url-pattern>/Sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarAnalista</servlet-name>
        <url-pattern>/ServletGuardarAnalista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAnalista</servlet-name>
        <url-pattern>/ServletAnalista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowTicket</servlet-name>
        <url-pattern>/ServletShowTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerTicket</servlet-name>
        <url-pattern>/ServletVerTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerEstado</servlet-name>
        <url-pattern>/ServletVerEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEstado</servlet-name>
        <url-pattern>/ServletEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImpacto</servlet-name>
        <url-pattern>/ServletImpacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModulos</servlet-name>
        <url-pattern>/ServletModulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletServicios</servlet-name>
        <url-pattern>/ServletServicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletServidores</servlet-name>
        <url-pattern>/ServletServidores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAnalista</servlet-name>
        <url-pattern>/ShowAnalista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAnalist</servlet-name>
        <url-pattern>/SaveAnalist</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
